[Unit]
Description=Telegram bot food delivery.
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/home/acteek/fideliy/app -conf=/home/acteek/fideliy/config.json 
StandardOutput=/home/acteek/fideliy/fideliy.log
Restart=always

[Install]
WantedBy=multi-user.target
